<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="dataShowConn" value="kAV1Wn/k8jRozrSFx2QlNJCcaTZGk8T5zmx1zjJ7QvPWNIMYXVo73OWOw/r8+8eZCvdAuPucuUJJegb49xFbdXySNJ1ORyGF1k8SrAOY/5nRbDxNidY1zuF6GHhRdle/7hDDY3BZPLOt55yiF/KHfLkozRdm+O96xAtBdVLJHZKKxhkrhD8x+FX1ayE3hlmSmHOSoKMyuygfOGlT8/dpkOG7UqdtyYtLNcStvfNHTIkRYpghx+wcibFAlv7Alc3KxMa70/bOq6wsUY4TUITp77KGxI/KQz3ocWUcpXmRXzRUH+IIzIPkwQ1AzNcnWK8N1wmbptjrXN8v8z4zBkCKarFlfLdS3XFYxarywuLb22iIN52x5vlNbIgbsSfZuym0Rm7xjsvk3BXPelhdE146flVnGlpMOCxJOSUYp18ttXnnMG/NnbFlJW/dhjvD49mU" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>